body{
	color: black;
	background-color:rgb(245,245,245);
	font-family: cursive;
	font-size:15px;
	line-height: 25px;
	text-align: center;
	margin: 0px;
}

h1{
	font-variant: small-caps;
	letter-spacing: 20px;
	font-size: 30px;
}

p{
	padding:25px 150px ; 
}
 
.bordure{
	max-width:100%;
}